<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xitij.android.oij">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.home.InvestorsHomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".view.app.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.login.LoginActivity" />
        <activity android:name=".view.registration.RegistrationActivity" />
        <activity android:name=".view.app.Temp" />
        <activity android:name=".view.terms.TermsConditionActivity" />
        <activity
            android:name=".view.home.DistributorsHomeActivity"
            android:label="@string/title_activity_distributors_home"
            android:theme="@style/AppTheme" />
        <activity android:name=".view.myinvestments.MyInvestmentsActivity"></activity>
    </application>

</manifest>